 /* CSS DE JAVI */

/* imagen de fondo de la página */

body{
    background-color: rgb(238,174,202);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}



/* color del header*/
.cabecera{
    width: 100%;
    background-color:#db6196;
    padding: 20px 0; /* Espacio interno arriba y abajo */
    margin-bottom: 20px;
}


 /* posición de la cabecera */
.cabecera{
    position: relative;
}

 /* características del título (H1) */
.titulo{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
}


 /* tamaño del botón volver */
 .volver img{
    width: 32px;
    height: auto;
  }

 /* posición del botón volver */
.volver{
    position: absolute;
    top: 60px;
    bottom:0 ;
    right:0 ;
    left:20px;
}




 /* ancho del contenedor */
.contenedor{
    
    width: 100%;
    position: relative;
    
}

.columna {
    background-color: #fff;
    margin-bottom: 20px;
    border:1px solid #000;
}


 /* tipografia,alineación y tamaño de los párrafos */
    
.columna p {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding:5px;
    line-height: 1.5; /* espacio entre textos*/
}


.columna h2 {
    font-style: italic;
    font-size: 25px;
    color: #ff0090;
    text-align: center;
}

 /* -------------------------------------------------------------------------*/
